{%load static%}
<!DOCTYPE html>
<html>
<head>
    <title>Muhamad Fariz Farhan</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
body {font-family: "Times New Roman", Georgia, Serif;}
h1,h2,h3,h4,h5{
    font-family: "Playfair Display";
    <!--letter-spacing: 5px;-->
}
.logo{height:30px;width:30px;}
.logo-fb{height:30px}
</style>
</head>

<body>
<!-- Navbar (sit on top) -->
<div class="w3-top">
    <!--<div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">-->
    <div class="w3-bar w3-white w3-card w3-padding  " style="letter-spacing:1px">
        <a href="../daftar" target="_blank" class="w3-bar-item w3-button ">Daftar</a>
        <!-- Right-sided navbar links. Hide them on small screens -->
        <div class="w3-right ">
            <a href="https://www.instagram.com/frzfarhan/" target="_blank" class="w3-bar-item w3-button"><img class="logo" src="{% static 'img/ig.png' %}"> </a>
            <a href="https://twitter.com/frzfarhan" target="_blank" class="w3-bar-item w3-button"><img class="logo" src="{% static 'img/tw.png' %}"></a>
            <a href="https://web.facebook.com/Muhamadfarizfarhan" target="_blank" class="w3-bar-item w3-button"><img class="logo-fb" src="{% static 'img/fb.png' %}"></a>
        </div>
    </div>
</div>
{% block content %}
{% endblock %}

<!-- Footer -->
<footer class="w3-center w3-light-grey w3-padding-32">
    <!--<p>Muhamad Fariz Farhan</p>-->
</footer>
</body>

</html>