{% extends 'base.html' %}
{%load static%}

    {% block content %}
    <div class="w3-top">
        <!--<div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">-->
        <div class="w3-bar w3-white w3-card w3-padding " style="letter-spacing:1px">
            <a href="../index" class="w3-bar-item w3-button ">Kembali</a>
            <!-- Right-sided navbar links. Hide them on small screens -->
            <div class="w3-right ">
                <a href="https://www.instagram.com/frzfarhan/" target="_blank" class="w3-bar-item w3-button"><img class="logo" src="{% static 'img/ig.png' %}"> </a>
                <a href="https://twitter.com/frzfarhan" target="_blank" class="w3-bar-item w3-button"><img class="logo" src="{% static 'img/tw.png' %}"></a>
                <a href="https://web.facebook.com/Muhamadfarizfarhan" target="_blank" class="w3-bar-item w3-button"><img class="logo-fb" src="{% static 'img/fb.png' %}"></a>
            </div>
        </div>
    </div>
<!--Contact Section-->
    <div class="w3-container w3-padding-64" id="daftar">
        <form action="../setelahdaftar">
            <h2 class="w3-center">Daftar Akun</h2>
            <p><input class="w3-input w3-padding-16" type="text" placeholder="Nama" required name="Nama"></p>
            <p class="w3-text-grey">Tanggal lahir:<input class="w3-input w3-padding-16" type="date" placeholder="Tangal Lahir" required name="Tanggal Lahir" ></p>
            <p><input class="w3-input w3-padding-16" type="email" placeholder="Email" required name="Email"></p>
            <p><input class="w3-input w3-padding-16" type="text" placeholder="Id Pengguna" required name="Username"></p>
            <p><input class="w3-input w3-padding-16" type="password" placeholder="Password" required name="Password"></p>
            <p><input class="w3-input w3-padding-16" type="password" placeholder="Konfirmasi Password" required name="Masukan Password"></p>
            <p><button  class="w3-button w3-light-grey w3-section" type="submit">Daftar</button> </p>
            <!--<p><a href="setelahdaftar.html"  class="w3-button w3-light-grey w3-section">Daftar</a></p>-->
        </form>
    </div>
    {% endblock %}
