{% extends 'base.html' %}
{%load static%}

{% block content %}
<div class="w3-container w3-padding-64">
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Submit</button>
    </form>

</div>

{% endblock %}