{% extends 'base.html' %}
{%load static%}

    {% block content %}
    <!-- Header -->
    <header class="w3-display-container w3-content" style="max-width:1600px;min-width:200px" id="home">
        <div class="w3-container w3-hide-small">
            <img class="w3-image" src="{% static 'img/Artboard 1.png' %}" alt="header background" >
            <div class="w3-display-middle w3-padding-large w3-opacity">
                <p class=" w3-wide" style="text-align:center; width:900px; font-size:2vw;">Muhamad Fariz Farhan<br>Mahasiswa Sarjana Fakultas Ilmu Komputer<br>Universitas Indonesia</p>
            </div>
        </div>
        <div class="w3-content w3-hide-large w3-hide-medium">
            <br><br><br>
            <div class=" w3-opacity ">
                <p class=" w3-wide" style="text-align:center; font-size:3vw;">Muhamad Fariz Farhan<br></p>
                <p class=" w3-wide" style="text-align:center; font-size:3vw;">Mahasiswa Sarjana Fakultas Ilmu Komputer<br></p>
                <p class=" w3-wide" style="text-align:center; font-size:3vw;">Universitas Indonesia</p>
            </div>
        </div>
        <div class="w3-display-bottomleft w3-padding-32 w3-padding-large w3-opacity w3-hide-small">
            <p class="w3-serif" style="font-size:2vw;"><i>"Bekerjalah seakan kau hidup selamanya. Belajarlah seakan kau tidak tau apa-apa"</i></p>
        </div>
    </header>
    <hr><hr>
    <!-- Page content -->
    <div class="w3-content" style="max-width:1100px">

        <!-- Tentang Saya -->
        <div class="w3-container" id="tentang saya">
            <br>
            <h1 class="w3-xxlarge" style="text-align:center;">
                Tentang Saya
            </h1><br>
            <img src="{% static 'img/frz.jpg' %}" class="w3-image w3-circle" style="height:250px;display:block;margin-left:auto;margin-right: auto;" >
            <p class="w3-hide-small w3-hide-medium" style="text-align:center;font-size:2vw">Seorang manusia biasa yang punya cita-cita luar biasa.
                Yang selalu ingin berkarya dengan segala keterbataan dan kendala.
                Sedang mengemban amanah sebagai pelajar di Universitas ternama.
                Menyukai politik dengan segala polemiknya.
                Berproses untuk menjadi lebih baik setiap harinya.
                Berusaha untuk berguna bagi agama, bangsa, dan almamater.</p>
            <p class="w3-hide-small w3-hide-large" style="text-align:center;font-size:3vw">Seorang manusia biasa yang punya cita-cita luar biasa.
                Yang selalu ingin berkarya dengan segala keterbataan dan kendala.
                Sedang mengemban amanah sebagai pelajar di Universitas ternama.
                Menyukai politik dengan segala polemiknya.
                Berproses untuk menjadi lebih baik setiap harinya.
                Berusaha untuk berguna bagi agama, bangsa, dan almamater.</p>
            <p class="w3-hide-medium w3-hide-large" style="text-align:center;font-size:4vw">Seorang manusia biasa yang punya cita-cita luar biasa.
                Yang selalu ingin berkarya dengan segala keterbataan dan kendala.
                Sedang mengemban amanah sebagai pelajar di Universitas ternama.
                Menyukai politik dengan segala polemiknya.
                Berproses untuk menjadi lebih baik setiap harinya.
                Berusaha untuk berguna bagi agama, bangsa, dan almamater.</p>
            <br><br><br>
            <br><br><br>

        </div>

        <hr><hr>
        <div class="w3-container" id="kegiatan kampus">
            <h1 class="w3-left-align">Kegiatan Kampus</h1><br>

            <div class="w3-container w3-hide-small w3-hide-medium">
                <div class="w3-row w3-padding64">
                    <div class="w3-col l3 w3-padding-large w3-hide-medium w3-hide-small">
                        <img src="{% static 'img/capdpm.png' %}" class="w3-image" style="width:90%">
                    </div>

                    <div class="w3-col l6 w3-hide-small w3-hide-medium"><br><br><br>
                        <h2>Dewan Perwakilan Mahasiswa</h2>
                        <h4>Dewan Perwakilan Fasilkom</h4>
                    </div>
                </div>

                <div class="w3-row w3-padding64">
                    <div class="w3-col l8 w3-padding-large w3-hide-medium w3-hide-small">
                        <h2 class="w3-right-align">Pemilihan Raya Fasilkom 2018</h2>
                        <h4 class="w3-right-align">Ketua Pelaksana</h4>
                    </div>
                    <div class="w3-col l4 w3-hide-medium w3-hide-small">
                        <img src="{% static 'img/pmr.png' %}" class="w3-image" style="width:80%">
                    </div>

                </div>

                <div class="w3-row w3-padding64">
                    <div class="w3-col l3 w3-padding-large w3-hide-medium w3-hide-small" >
                        <img src="{% static 'img/cfx.jpg' %}" class="w3-image w3-circle" style="width:85%">
                    </div>

                    <!--<div class="w3-col l3 w3-padding-large w3-hide-large w3-hide-medium" >-->
                    <!--<img src="img/cfx.jpg" class="w3-image w3-circle" style="width:32%">-->
                    <!--</div>-->
                    <div class="w3-col l6 w3-hide-small w3-hide-medium">
                        <br><br>
                        <h2>CompFest X</h2>
                        <h4>Staf Equipment and Security</h4>
                    </div>
                </div>
            </div>

            <div class="w3-container w3-hide-large">
                <div class="w3-row w3-card ">
                    <div class="w3-padding-large">
                        <img src="{% static 'img/capdpm.png' %}" class="w3-image " style="width:25%">
                    </div>
                </div>
                <div class="w3-row w3-card ">
                    <div class="w3-padding-large">
                        <img src="{% static 'img/pmr.png' %}" class="w3-image" style="width:35%">
                    </div>

                </div>
                <div class="w3-row w3-card ">
                    <div class="w3-padding-large">
                        <img src="{% static 'img/cfx.jpg' %}" class="w3-image w3-circle" style="width:25%">
                    </div>

                </div>

            </div>


        </div>
        <hr>

        <!-- End page content -->
    </div>

    {% endblock %}

<!--This HTML is Powered by w3schools-->