{% extends 'base.html' %}
{%load static%}

    {% block content %}
    <!-- Navbar (sit on top) -->
    <div class="w3-top">
        <!--<div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">-->
        <div class="w3-bar w3-white w3-card w3-padding " style="letter-spacing:1px">
            <a href="../index"  class="w3-bar-item w3-button ">Kembali</a>
            <!-- Right-sided navbar links. Hide them on small screens -->
            <div class="w3-right ">
                <a href="https://www.instagram.com/frzfarhan/" target="_blank" class="w3-bar-item w3-button"><img class="logo" src="{% static 'img/ig.png' %}"> </a>
                <a href="https://twitter.com/frzfarhan" target="_blank" class="w3-bar-item w3-button"><img class="logo" src="{% static 'img/tw.png' %}"></a>
                <a href="https://web.facebook.com/Muhamadfarizfarhan" target="_blank" class="w3-bar-item w3-button"><img class="logo-fb" src="{% static 'img/fb.png' %}"></a>
            </div>
        </div>
    </div>
    <!--Terimakasih section-->
    <div class="w3-container" id="setelah daftar">
        <div class="w3-display-middle w3-padding-large w3-opacity w3-hide-small">
            <p class="w3-xxlarge w3-wide" style="text-align:center; width:900px;">Terimakasih Telah Mendaftar</p>
            <p class="w3-large" style="text-align:center; width:900px;">Klik tombol kembali untuk kembali ke halaman utama</p>
        </div>
        <div class="w3-display-middle w3-opacity w3-hide-medium w3-hide-large">
            <p class="w3-wide" style="text-align:center; font-size:8vw">Terimakasih Telah Mendaftar</p>
            <p class="w3-large" style="text-align:center;">Klik tombol kembali untuk kembali ke halaman utama</p>
        </div>
    </div>
{% endblock %}